<div class="container-fluid index">
  <div class="index-card">
    <div class="row h-100">
      <div class="col-6 offset-6 index-text text-center align-self-center">
        <h2><%= t('static_pages.index.wedding_and_engagement_rings_title') %></h2>
        <div class="index-button">
          <%= t('static_pages.index.discover_our_collection') %>
        </div>
      </div>
    </div>
  </div>

  <h1>Charalampous Jewellery</h1>
  <li><%= link_to t('navigation_bar.the_company'), about_path %></li>


</div>
