<div class="container-fluid product-show">
  <div class="row">
    <div class="col-12 col-sm-6 product-image">
      <%= image_tag("necklace_gold_circle.PNG", class: "img-response", alt:"necklace_gold_circle") %>
    </div>
    <div class="col-12 col-sm-6 product-description">
      <h1>Gold Necklace with Quartz</h1>
      <p class="product-short-description">
        With a smooth, matte gold finish, that is understated and softly reflective of a pear's crisp, freckled peel, the classic yellow gold Orchard pendant is a nod to our British history, culture and landscapes.
      </p>
      <p class="price">2.000 &euro;</p>
  <div>
</div>
