@import 'breakpoints';
@import 'colors';
@import 'vendor_prefixes';


/* Navigation Bar */
#nav-bar {
  position: fixed;
  top: 0;
  width: calc(100vw - 40px);
  padding: 0;
  height: 220px;
  background-color: white;
  border-bottom: 1px solid #f9f7f1;
  z-index: 100;

  #top-line {
    background: $lightGold;
    height: 20px;
  }

  .nav-fist-line {
    margin: 0;
    background: red;
    position:relative;

    .nav-first-line-item {
      padding: 15px 20px;
      position: absolute;
    }
    .nav-search {
      // top: -3px;
      right: 316px;
    }

    .nav-sign-in {
      right: 196px;
    }

    .nav-favorite {
      right: 138px;
      i {
        font-size: 18px;
      }
    }

    .nav-shopping-bag {
      top: 15px; //equal to top-padding of other .nav-first-line-items
      right: 80px;
      background: url(/assets/shopping_bag_4c4c4c_18x18.png) no-repeat;
    }

    .nav-shopping-bag:hover {
      background: url(/assets/shopping_bag_black_18x18.png) no-repeat;
    }

    .nav-language-switcher {
      right: 0px;
      /* Switch Language */
      .switch-language {
        a {
          display: inline-block;

          .link-to-language {
            font-weight: 500;
            font-size: 15px;
          }

        }
      }
    }
  }

  .nav-middle-line {
    #navbar-logo {
      height: 100px;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .gold-text {
      font-size: 25px;
      color:#c3a343;
      -webkit-text-fill-color: transparent;
      background: -webkit-linear-gradient(transparent, transparent),
      url(/assets/gold_texture.jpeg) repeat;
      background: -o-linear-gradient(transparent, transparent);
      -webkit-background-clip: text;
    }
  }

  .nav-last-line {
    ul {
      padding: 0;
      li {
        display: inline-block;

        a {
          padding: 20px 15px 10px 15px;
          font-size: 14px;
        }

        hr {
          border-color: white;
          @include transition(border-color 1s);
          margin: 3px auto 7px auto; //top and bottom should make 10px
          width: calc(90% - 30px);
          text-align: center;
        }

        .dropdown {
          visibility: hidden;
          overflow: hidden;
          background: white;
          padding: 0 30px;
          position: absolute;
          top: 220px;
          left: 15px;
          width: 100%;
          border-bottom: 1px solid #f9f7f1;
          opacity: 0;
          @include transition(opacity 0.7s);
          // height: 0;
          // @include transition(height 0.5s linear);

          p {
            padding-left: 0;
            padding-top: 20px;
            border-bottom: 1px solid $lightGold;
            // width: 80%;
            margin-bottom: 5px;
          }

          ul {
            padding-bottom: 30px;
            li {
              display: block;
              padding: 5px 0;

              a {
                padding: 0;
                font-size: 15px;
              }
            }
          }
        }
      }

      li:hover hr {
        border-color: $lightGold;
      }

      li:hover .dropdown {
        // height: 100%;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}



/* XS Screens */
@media only screen and (max-width: $xs_max_width) {
  #nav-bar {
    width: 100%;

    #top-line {
      height: 10px;
    }
  }
}

/* XS and SM and MD Screens */
@media only screen and (max-width: $md_max_width) {
  #nav-bar {
    background: blue;
  }
}



/* LG Screens */

/* Inbetween LG and XL Screens */
@media only screen and (min-width:1050px) {
  #nav-bar {
    .nav-last-line {
      ul {
        li {
          font-size: 15px;
        }
      }
    }
  }
}

/* XL Screens */
@media only screen and (min-width: $xl_min_width) {
  #nav-bar {
    .nav-last-line {
      ul {
        li {
          font-size: 16px;

          a {
            padding: 20px;
          }

          hr {
            width: calc(90% - 40px);
          }
        }
      }
    }
  }
}
