/* Switch Language */
.switch-language {
  // width: 50px;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 100;

  a {
    display: inline-block;

    .link-to-language {
      color: grey;
      font-weight: 500;
      font-size: 15px;
    }

    .link-to-language.active {
      color: black;
    }

    .link-to-language:hover {
      color: black;
    }
  }
}
