@import 'breakpoints';
@import 'colors';

/* Switch Language */
.switch-language {
  // width: 50px;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 100;

  a {
    display: inline-block;

    .link-to-language {
      color: grey;
      font-weight: 500;
      font-size: 15px;
    }

    .link-to-language.active {
      color: black;
    }

    .link-to-language:hover {
      color: black;
    }
  }
}

/* Navigation Bar */
#nav-bar {
  position: fixed;
  top: 20px;
  width: calc(100vw - 40px);
  height: 50px;
  background-color: white;

  #xs-top-line {
    background: $lightGold;
    height: 10px;
  }
}

/* XS Screens */
@media only screen and (max-width: $xs_max_width) {
  #nav-bar {
    top: 0;
    width: 100%;
    padding: 0;
  }
}
