<span class="switch-language text-center">
  <% if content_for?(:switch_path_en) %>
    <% current_url_path_en = yield(:switch_path_en) %>
  <% else %>
    <% current_url_path_en = url_for(locale: 'en', only_path: true) %>
  <% end %>
  <%= link_to current_url_path_en, rel: 'alternate', hreflang: "en"  do %>
    <% if I18n.locale.to_s == 'en' %>
      <div class="link-to-language active color-black" id="link-to-en">en</div>
    <% else %>
      <div class="link-to-language diactivated color-grey hover-black"  data-locale="en" id="link-to-en">en</div>
    <% end %>
  <% end %>
 <span class="color-grey">| </span>
  <% if content_for?(:switch_path_el) %>
    <% current_url_path_el = yield(:switch_path_el) %>
  <% else %>
    <% current_url_path_el = url_for(locale: 'el', only_path: true) %>
  <% end %>
  <%= link_to current_url_path_el, rel: 'alternate', hreflang: "en"  do %>
    <% if I18n.locale.to_s == 'el' %>
      <div class="link-to-language active color-black font-gr" id="link-to-el">ελ</div>
    <% else %>
      <div class="link-to-language diactivated color-grey hover-black font-gr" id="link-to-el" data-locale="el">ελ</div>
    <% end %>
  <% end %>
</span>
